.search-bar {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-400);
  }

  &__head {
    display: flex;
    align-items: center;
    gap: var(--size-400);
  }
}
